* {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	user-select: none;
}

body {
	background-color: #181818;
}

.title {
	text-align: center;
	width: 32.41vh;
	font-size: 5vh;
}

.game {
	height: 75vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* display: flex; */
	/* justify-content: center; */
	flex-grow: 1;
	overflow: hidden;
}
.keyboard {
	width: 46.30vh;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0;
}
.keyboard button {
	width: 3.70vh;
	height: 4.63vh;
	border-radius: 0.28vh;
	border: none;
	margin: 0.37vh;
	background-color: #606060;
	font-size: 1.5vh;
}
.keyboard button:active {
	background-color: #3e8e41;
	box-shadow: 0 0.09vh #666;
	transform: translateY(0.09vh);
  }
.keyboard button:hover {background-color: #595959}
.keyboard button:nth-child(11) {
	margin-left: 2.41vh;
}
.keyboard button:nth-child(20), .keyboard button:nth-child(28) {
	width: 5.93vh;
}
.keyboard button:nth-child(28) {
	font-size: 3.70vh;
	padding-bottom: 0.46vh;
}

.tile {
	width: 30.56vh;
	margin-bottom: 2.78vh;
}
.tile div {
	display: flex;
}
.tile .words {
	width: 5.74vh;
	height: 5.74vh;
	border: 0.19vh solid #3a3a3c;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.19vh;
	font-weight: 1000;
}

.tile .flip {
	animation: 0.5s linear flipping;
}

@keyframes flipping {
	0% {
		transform: rotateX(0deg);
	}
	50% {
		transform: rotateX(90deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}

.keyboard .green,
.tile .green {
	background-color: #538d4e !important;
	border:none !important;
}
.keyboard .yellow,
.tile .yellow {
	background-color: #b59f3b !important;
	border:none !important;
}
.keyboard .grey,
.tile .grey {
	background-color: #939598 !important;
	border:none !important;
}